// Global styling for this template
@include local-font('Better Saturday', assets/fonts/BetterSaturday/BetterSaturday, null, null, ttf);
@include local-font('DJ Holly Jolly', assets/fonts/DJHollyJolly/DJHollyJolly, null, null, ttf);
@include local-font('Work Sans light', assets/fonts/WorkSans/WorkSans-Light, null, null, ttf);

body {
  @include body-font;
  color: $dark-grey;
  background: $soft-grey;
}
h1 {
  @include highlight-font;
  background: #curry;
}

h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
  color: $dark-grey;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.tiny {
  font-size: 70%;
}

.super-tiny {
  font-size: 60%;
}
