body {
  font-family: "Work Sans light", sans-serif;
  color: #333132;
  background: #eaeaea; }

h1 {
  font-family: "Better Saturday", "DJ Holly Jolly", "Work Sans light", sans-serif;
  background: #curry; }

h2,
h3,
h4,
h5,
h6 {
  font-family: "DJ Holly Jolly", "Work Sans light", sans-serif;
  font-weight: 700;
  color: #333132; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

.tiny {
  font-size: 70%; }

.super-tiny {
  font-size: 60%; }

.bg-dark {
  background-color: #333132 !important; }

.bg-light {
  background-color: #eaeaea !important; }

.bg-primary {
  background-color: #d9a625 !important; }

.text-dark {
  color: #333132 !important; }

.text-light {
  color: #eaeaea !important; }

.text-primary {
  color: #d9a625 !important; }

a {
  color: #d9a625; }
  a:hover, a:focus, a:active {
    color: #98741a; }
